//Colors
$primary-color: #0282f9;
$dark-color: #1c1c1c;
$footer-color: #303030;
$footer-icon-color: #797979;

//Dimensions
$header-height: 90px;
$header-logo: 70px;
$footer-top-height: 400px;
$footer-bottom-height: 50px;
//Layout
$paddingWrapper: 2em;